<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Система управления транспортом</title>
    <link rel="shortcut icon" type="image/ico" href="/static/traffic_flow/media/Transport.ico"/>
    <link rel="stylesheet" href="/static/traffic_flow/css/stylesheet.css"/>
    <link rel="stylesheet" href="/static/traffic_flow/css/form_style.css"/>
    <link rel="stylesheet" href="/static/traffic_flow/css/table_style.css">
</head>
<body>
    <div id="header">
        <div>
            <img src="/static/traffic_flow/media/logo.svg" width="100%" alt="oops">
        </div>
        <div style="display: flex">
            {% if user.is_authenticated %}
                <p style="font-size: inherit; margin-right: 5px; font-weight: 100;">Текущий пользователь - {{ user.get_username }}!</p>
                <a style="font-size: inherit; font-weight: 100;" href="{% url 'logout' %}?next=http://127.0.0.1:8080/"><p>Выйти</p></a>
            {% endif %}
        </div>

    </div>

    <div style="
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-content: stretch;
        align-items: flex-start;
        background-color: white;
        height: 600px;">

        <div style="width: 15%">
             <form class="some-class" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form }}
                <button style="margin: 5% 2% 5% 25%;" type="submit">Подтвердить</button>
            </form>
        </div>

        <div style="width: 85%">
            <table>
                <tr>
                    <th>№ Автомобиля</th>
                    <th>№ Телефона</th>
                    <th>Компания</th>
                    <th>Назначение</th>
                    <th>Регистрация</th>
                    <th>Склад</th>
                    <th>Рампа</th>
                    <th>Въезд</th>
                    <th>Выезд</th>
                    <th>Состояние</th>
                  </tr>
                {% for truck in trucks %}
                    <tr>
                        <td>{{ truck.truck_number }}</td>
                        <td>{{ truck.phone_number }}</td>
                        <td>{{ truck.company }}</td>
                        <td>{{ truck.procedure }}</td>
                        <td>{{ truck.registration_time }}</td>
                        <td>{{ truck.warehouse }}</td>
                        <td>{{ truck.ramp }}</td>
                        <td>{{ truck.entry_time }}</td>
                        <td>{{ truck.departure_time }}</td>
                        <td>{{ truck.state }}</td>
                     </tr>
                {% endfor %}

                </table>
        </div>
    </div>

    <div id="footer">
        <h6>Разработано при поддержке ITAcademy</h6>
    </div>
</body>
</html>