.some-class {
    width: 200px;
    padding: 20px;
    display: contents;
    margin: 5% 0 0 0;
}

input[type=text] {
    padding: 10px;
    margin: 2% 0 2% 0;
    border: 2px solid #eee;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    width: 93%;
    font-family: inherit;
    font-size: inherit;
}

input[type=password] {
    padding: 10px;
    margin: 2% 0 2% 0;
    border: 2px solid #eee;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    width: 93%;
    font-family: inherit;
    font-size: inherit;
}

select {
    padding: 10px;
    margin: 2% 0 2% 0;
    border: 2px solid #eee;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    width: 235px;
    font-family: inherit;
    font-size: inherit;
}

button[type=submit] {
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 20px 30px;
    margin: 5% 2% 5% 35%;
    position: relative;
    overflow: hidden;
    border: 2px solid #668acc;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #668acc;
    transition: .5s ease-in-out;
}

button[type=submit]:before {
    content: "";
    background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
    height: 70px;
    width: 50px;
    position: absolute;
    top: -8px;
    left: -75px;
    transform: skewX(-45deg);
}

button[type=submit]:hover {
    background: #668acc;
    color: #fff;
}

button[type=submit]:hover:before {
    left: 700px;
    transition: .5s ease-in-out;
}