<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Система управления транспортом</title>
        <link rel="shortcut icon" type="image/ico" href="/static/traffic_flow/media/Transport.ico"/>
        <link rel="stylesheet" href="/static/traffic_flow/css/stylesheet.css"/>
    </head>
<body>
    <div id="header">
        <img src="https://www.avectis.by/assets/images/general/logo.svg" width="10%" alt="oops">
    </div>

    {% block content %}
    {% endblock content %}

    <div id="footer">
        <h6>Разработано при поддержке ITAcademy</h6>
    </div>
</body>
</html>