<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Система управления транспортом</title>
        <link rel="stylesheet" href="/static/stylesheet.css"/>
    </head>
    <body>
        <div id="header">
            <img src="https://www.avectis.by/assets/images/general/logo.svg" width="10%" alt="oops">
        </div>
        <div id="content">
            <a href="" class="shine-button">Клиент</a>
            <a href="" class="shine-button">Оператор</a>
        </div>
        <div id="footer">
            <p>Разработано при содействии ITAcademy</p>
        </div>
    </body>
    </html>