<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Система управления транспортом</title>
    <link rel="shortcut icon" type="image/ico" href="/static/traffic_flow/media/Transport.ico"/>
    <link rel="stylesheet" href="/static/traffic_flow/css/stylesheet.css"/>
    <link rel="stylesheet" href="/static/traffic_flow/css/form_style.css"/>
    <link rel="stylesheet" href="/static/traffic_flow/css/table_style.css">
</head>
<body>
    <div id="header">
        <img src="https://www.avectis.by/assets/images/general/logo.svg" width="10%" alt="oops">
    </div>

    <div style="
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-content: stretch;
        align-items: flex-start;
        background-color: white;
        height: 610px;">

        <div style="width: 15%">
             <form class="some-class" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form }}
                <button style="margin: 5% 2% 5% 25%;" type="submit">Подтвердить</button>
            </form>
        </div>

        <div style="width: 85%">
            <table>
                <tr>
                    <th>№ Автомобиля</th>
                    <th>№ Телефона</th>
                    <th>Компания</th>
                    <th>Назначение</th>
                    <th>Регистрация</th>
                    <th>Вызов</th>
                    <th>Склад</th>
                    <th>Рампа</th>
                    <th>Въезд</th>
                    <th>Прибытие</th>
                    <th>Обслужен</th>
                    <th>Состояние</th>
                  </tr>
                 <tr>
                  <td>Microsoft</td>
                  <td>20.3</td>
                  <td>30.5</td>
                  <td>23.5</td>
                  <td>40.3</td>
                 </tr>

                </table>
        </div>
    </div>

    <div id="footer">
        <h6>Разработано при поддержке ITAcademy</h6>
    </div>
</body>
</html>